body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f4f7;
}

.navbar {
    background: linear-gradient(90deg, #012cb8, #017cff) !important;
    height: 60px;
}

.custom-navbar-nav .nav-link {
    font-weight: bold;
    padding: 5rem 1rem; 
    color: #ffffff !important;
}

.custom-navbar-nav .nav-item {
  margin-right: 25px; 
  font-size: 15px;
}

.navbar .container {
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar-brand img {
height: 50px; 
}

a.navbar-brand {
  margin-right: 0;
}

.navbar-text h1,
.navbar-text h2 {
margin: 0;
color: white; 
}

.navbar-text h1 {
font-size: 1.8rem; 
font-weight: bold;
}

.navbar-text h2 {
font-size: 0.63rem; 
}

@media (max-width: 991px) {
.navbar-text {
  display: none;
}
}

