body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(24, 24, 24);
  color: white;
  width: 100%;
  margin-top: auto; /* add this to push the footer to the bottom of the page */
  font-size: 11px;
}

footer a {
  line-height: 1;
}

footer > .container > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

