html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.left-side-content img {
  width: 20vw; 
  height: 20vw; 
  max-width: 190px; 
  max-height: 200px; 
}

.left-side-content h1 {
  font-size: 3rem; 
  margin: 0; 
  font-weight: bold;
  color: #012cb8;
}

.left-side-content h2 {
  font-size: 1.03rem; 
  margin: 0; 
  color: #012cb8;
}

/* Media queries for smaller screens */

@media (max-width: 768px) {
  .left-side-content h1 {
    font-size: 2.5rem;
  }
  .left-side-content h2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .left-side-content h1 {
    font-size: 2rem;
  }
  .left-side-content h2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .left-side-content h1 {
    font-size: 1.8rem;
  }
  .left-side-content h2 {
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .left-side-content h1 {
    font-size: 1.5rem;
  }
  .left-side-content h2 {
    font-size: 0.6rem;
  }
}

.login-form-container {
  background-color: #f8f9fa; 
  border-radius: 8px; 
  padding: 20px; 
  margin-top: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  max-width: 400px; 
}

.form-group {
  margin-bottom: 10px; 
}

.form-control {
  border: 1px solid #c8c8c8; 
  padding: 20px; 
  font-size: 13px; 
  border-radius: 4px; 
}

.btn-block {
  display: block; 
  width: 100%; 
  margin-top: 10px; 
  background-color: #012cb8;
  font-weight: bold;
  font-size: 13px;
  padding: 10px;
  border: none;
}

.btn-short {
  display: block; 
  width: auto;
  margin: 30px auto 0; 
  font-size: 13px;
  padding: 10px;
  font-weight: bold;
  background-color: #017cff;
  border: none;
}

.forgot-password {
  display: block; 
  text-align: center;
  margin-top: 10px; 
  font-size: 0.875rem; 
  margin-bottom: 30px; 
}

.form-actions {
  text-align: center; 
}

.form-actions > * {
  margin-top: 10px; 
}

.register-container {
  text-align: center; 
  margin-top: 10px; 
  font-size: 15px;
  width: 100%; 
}

.register-container a {
  color: #191919; 
  font-size: 15px;
  font-weight: bold; 
  text-decoration: underline;
}

h1 {
  font-size: 2.5rem; 
  margin: 0;
}

.ml-3 {
  margin-left: 1rem;
}

