{% extends "base.html" %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% block title %}Profile{% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/css/profile.css">
<div id="flash-messages" class="flash-messages"></div>

<div class="container right-form rounded bg-white mt-5 mb-5" >
    <div class="row">
        <!-- Profile Section (Left) -->
        <div class="col-md-3 border-right profile-left">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5 position-relative">
                <!-- Display profile picture with pencil icon -->
                <div class="profile-image-wrapper position-relative">
                    <img class="rounded-circle me-2 profile-picture"
                         style="width: 150px; height: 150px; cursor: pointer;"
                         src="{{ url_for('static', filename='uploads/' + current_user.picture_path) }}"
                         alt="Profile Picture"
                         onclick="document.getElementById('profilePictureInput').click();">

                    <!-- Pencil icon -->
                    <i class="fas fa-pencil-alt pencil-icon" onclick="document.getElementById('profilePictureInput').click();"></i>

                    <!-- Separate form for profile picture upload -->
                    <form id="uploadProfilePictureForm" method="POST" enctype="multipart/form-data" action="{{ url_for('auth.upload_profile_picture') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="file" id="profilePictureInput" name="profile_picture" style="display: none;" onchange="validateAndSubmit()">
                        <small id="fileError" class="form-text text-danger" style="display:none;">Only JPG, PNG, and other image formats are allowed.</small>
                    </form>
                </div>
                
                <!-- Display user's name -->
                <span class="text-white-name">{{ current_user.first_name }} {{ current_user.last_name }}</span>
                <!-- Display username -->
                <span class="text-white-un">@{{ current_user.username }}</span>
                <!-- Display email -->
                <span class="text-white-em">{{ current_user.email }}</span>
                <!-- Display contact number -->
                <span class="contact-text">{{ current_user.phone_number if current_user.phone_number else 'No contact provided' }}</span>
            </div>
        </div>


        <!-- Profile Settings Form (Right) -->
        <div class="col-md-9 border-right">
            <form method="POST" action="{{ url_for('auth.update_profile') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>

                    <!-- First and Last Name Row -->
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label class="labels">First name</label>
                            <input type="text" class="form-control" name="first_name" value="{{ current_user.first_name }}">
                        </div>
                        <div class="col-md-4">
                            <label class="labels">Last Name</label>
                            <input type="text" class="form-control" name="last_name" value="{{ current_user.last_name }}">
                        </div>
                        <div class="col-md-4">
                            <label class="labels">Suffix</label>
                            <input type="text" class="form-control" name="suffix" value="{{ current_user.suffix }}">
                        </div>
                    </div>

                    <!-- Username and Date of Birth Row -->
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Username</label>
                            <input type="text" class="form-control" name="username" value="{{ current_user.username }}">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Date of Birth</label>
                            <input type="date" class="form-control" name="dob" value="{{ current_user.dob }}">
                        </div>
                    </div>

                    <!-- City and Province Row -->
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Province</label>
                            <select class="form-control" name="province" id="tar_province" value ="{{ current_user.province }}" onchange="updateCity()">
                                <option value="" disabled selected>Select a province</option>
                                <option value="Metro Manila">Metro Manila</option>
                                <option value="Cebu">Cebu</option>
                                <option value="Davao del Sur">Davao del Sur</option>
                                <option value="Benguet">Benguet</option>
                                <option value="Iloilo">Iloilo</option>
                                <option value="Misamis Oriental">Misamis Oriental</option>
                                <option value="South Cotabato">South Cotabato</option>
                                <option value="Zamboanga del Sur">Zamboanga del Sur</option>
                                <option value="Pampanga">Pampanga</option>
                                <option value="Batangas">Batangas</option>
                                <option value="Laguna">Laguna</option>
                                <option value="Cavite">Cavite</option>
                                <option value="Negros Occidental">Negros Occidental</option>
                                <option value="Palawan">Palawan</option>
                                <option value="Bohol">Bohol</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">City</label>
                            <select class="form-control" name="city" value ="{{ current_user.city }}" id="tar_city" value = "{{ current_user.city}}">
                                <option value="" disabled selected>Select a city</option>
                            </select>
                        </div>
                    </div>

                    <!-- Gender and Postal Code Row -->
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Gender</label>
                            <select class="form-select" name="gender">
                                <option value="" disabled selected>Select</option>
                                <option value="Male" {% if current_user.gender == 'Male' %}selected{% endif %}>Male</option>
                                <option value="Female" {% if current_user.gender == 'Female' %}selected{% endif %}>Female</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Postal Code</label>
                            <input type="text" class="form-control" name="postalcode" value="{{ current_user.postalcode }}">
                        </div>
                    </div>

                    <!-- Education and GPA/GWA Row -->
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Education Level</label>
                            <select class="form-select" name="education_level">
                                <option value="" disabled selected>Select</option>
                                <option value="Elementary" {% if current_user.education_level == 'Elementary' %}selected{% endif %}>Elementary</option>
                                <option value="Highschool" {% if current_user.education_level == 'Highschool' %}selected{% endif %}>Highschool</option>
                                <option value="College" {% if current_user.education_level == 'College' %}selected{% endif %}>College</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">GPA / GWA</label>
                            <input type="number" class="form-control" name="gpa" value="{{ current_user.gpa }}">
                        </div>
                    </div>

                    <!-- Course and Email Address Row -->
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Course</label>
                            <select class="form-select" id="course" name="course" value="{{ current_user.course }}" >
                                <optgroup label="Business and Management">
                                    <option value="business_admin" {% if current_user.education_level == 'business_admin' %}selected{% endif %}>Bachelor of Science in Business Administration</option>
                                    <option value="accountancy" {% if current_user.education_level == 'accountancy' %}selected{% endif %}>Bachelor of Science in Accountancy</option>
                                    <option value="management_engineering" {% if current_user.education_level == 'management_engineering' %}selected{% endif %}>Bachelor of Science in Management Engineering</option>
                                    <option value="marketing_management" {% if current_user.education_level == 'marketing_management' %}selected{% endif %}>Bachelor of Science in Marketing Management</option>
                                </optgroup>
                                <optgroup label="Engineering and Technology">
                                    <option value="civil_engineering" {% if current_user.education_level == 'civil_engineering' %}selected{% endif %}>Bachelor of Science in Civil Engineering</option>
                                    <option value="computer_engineering" {% if current_user.education_level == 'computer_engineering' %}selected{% endif %}>Bachelor of Science in Computer Engineering</option>
                                    <option value="electronics_engineering" {% if current_user.education_level == 'electronics_engineering' %}selected{% endif %}>Bachelor of Science in Electronics Engineering</option>
                                    <option value="information_technology" {% if current_user.education_level == 'information_technology' %}selected{% endif %}>Bachelor of Science in Information Technology</option>
                                    <option value="mechanical_engineering" {% if current_user.education_level == 'mechanical_engineering' %}selected{% endif %}>Bachelor of Science in Mechanical Engineering</option>
                                </optgroup>
                                <optgroup label="Health Sciences">
                                    <option value="nursing" {% if current_user.education_level == 'nursing' %}selected{% endif %}>Bachelor of Science in Nursing</option>
                                    <option value="pharmacy" {% if current_user.education_level == 'pharmacy' %}selected{% endif %}>Bachelor of Science in Pharmacy</option>
                                    <option value="physical_therapy" {% if current_user.education_level == 'physical_therapy' %}selected{% endif %}>Bachelor of Science in Physical Therapy</option>
                                    <option value="medical_technology" {% if current_user.education_level == 'medical_technology' %}selected{% endif %}>Bachelor of Science in Medical Technology</option>
                                </optgroup>
                                <optgroup label="Arts and Humanities">
                                    <option value="communication" {% if current_user.education_level == 'communication' %}selected{% endif %}>Bachelor of Arts in Communication</option>
                                    <option value="fine_arts" {% if current_user.education_level == 'fine_arts' %}selected{% endif %}>Bachelor of Fine Arts</option>
                                    <option value="english" {% if current_user.education_level == 'english' %}selected{% endif %}>Bachelor of Arts in English</option>
                                    <option value="philosophy" {% if current_user.education_level == 'philosophy' %}selected{% endif %}>Bachelor of Arts in Philosophy</option>
                                </optgroup>
                                <optgroup label="Social Sciences">
                                    <option value="psychology" {% if current_user.education_level == 'psychology' %}selected{% endif %}>Bachelor of Arts in Psychology</option>
                                    <option value="political_science" {% if current_user.education_level == 'political_science' %}selected{% endif %}>Bachelor of Arts in Political Science</option>
                                    <option value="sociology" {% if current_user.education_level == 'sociology' %}selected{% endif %}>Bachelor of Arts in Sociology</option>
                                    <option value="anthropology" {% if current_user.education_level == 'anthropology' %}selected{% endif %}>Bachelor of Arts in Anthropology</option>
                                </optgroup>
                                <optgroup label="Education">
                                    <option value="education" {% if current_user.education_level == 'education' %}selected{% endif %}>Bachelor of Science in Education</option>
                                    <option value="special_education" {% if current_user.education_level == 'special_education' %}selected{% endif %}>Bachelor of Special Education</option>
                                    <option value="early_childhood_education" {% if current_user.education_level == 'early_childhood_education' %}selected{% endif %}>Bachelor of Early Childhood Education</option>
                                </optgroup>
                                <optgroup label="Natural Sciences">
                                    <option value="biology" {% if current_user.education_level == 'biology' %}selected{% endif %}>Bachelor of Science in Biology</option>
                                    <option value="chemistry" {% if current_user.education_level == 'chemistry' %}selected{% endif %}>Bachelor of Science in Chemistry</option>
                                    <option value="physics" {% if current_user.education_level == 'physics' %}selected{% endif %}>Bachelor of Science in Physics</option>
                                    <option value="environmental_science" {% if current_user.education_level == 'environmental_science' %}selected{% endif %}>Bachelor of Science in Environmental Science</option>
                                </optgroup>
                                <optgroup label="Hospitality and Tourism">
                                    <option value="hotel_management" {% if current_user.education_level == 'hotel_management' %}selected{% endif %}>Bachelor of Science in Hotel and Restaurant Management</option>
                                    <option value="tourism_management" {% if current_user.education_level == 'tourism_management' %}selected{% endif %}>Bachelor of Science in Tourism Management</option>
                                </optgroup>
                                <optgroup label="Law and Governance">
                                    <option value="law" {% if current_user.education_level == 'law' %}selected{% endif %}>Bachelor of Laws (LLB)</option>
                                    <option value="public_administration" {% if current_user.education_level == 'public_administration' %}selected{% endif %}>Bachelor of Public Administration</option>
                                </optgroup>
                                <optgroup label="Architecture">
                                    <option value="architecture" {% if current_user.education_level == 'architecture' %}selected{% endif %}>Bachelor of Science in Architecture</option>
                                    <option value="interior_design" {% if current_user.education_level == 'interior_design' %}selected{% endif %}>Bachelor of Science in Interior Design</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Email Address</label>
                            <input type="email" class="form-control" name="email" value="{{ current_user.email }}">
                        </div>
                    </div>

                    <!-- Save Profile Button -->
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<form id="uploadProfilePictureForm" method="POST" enctype="multipart/form-data" action="{{ url_for('auth.upload_profile_picture') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="file" id="profilePictureInput" name="profile_picture" style="display: none;" onchange="validateAndSubmit()">
    <small id="fileError" class="form-text text-danger" style="display:none;">Only JPG, PNG, and other image formats are allowed.</small>
</form>

<script>
    const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff', 'webp'];

    // Function to validate the selected file before submitting the form
    function validateAndSubmit() {
        const fileInput = document.getElementById('profilePictureInput');
        const file = fileInput.files[0];
        const fileError = document.getElementById('fileError');

        // Check if a file is selected
        if (file) {
            const fileName = file.name;
            const fileExtension = fileName.split('.').pop().toLowerCase();

            // If the file extension is not allowed, show an error message
            if (!allowedExtensions.includes(fileExtension)) {
                fileError.style.display = 'block';  // Show error message
                fileInput.value = '';  // Clear the file input
            } else {
                fileError.style.display = 'none';  // Hide error message
                document.getElementById('uploadProfilePictureForm').submit();  // Submit the form
            }
        }
    }
</script>
<script src="/static/alllocations.js"></script>


{% endblock %}
