{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="gpa">GPA</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="gpa"
      name="gpa"
      placeholder="Enter GPA"
      min="0"
      max="5"
    />
  </div>
  <div class="form-group">
    <label for="extracurricularActivities">Extracurricular Activities</label>
    <textarea
      class="form-control"
      id="extracurricularActivities"
      name="extracurricularActivities"
      placeholder="List your extracurricular activities"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="financialStatus">Financial Status</label>
    <textarea
      class="form-control"
      id="financialStatus"
      name="financialStatus"
      placeholder="Describe your financial status"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
