
<button type="button" class="nav-link btn-short" data-bs-toggle="modal" data-bs-target="#profileModal">
    Create New Account
</button>

<!-- Modal Structure -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Sign Up Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modalSignUpForm" method="POST" action="{{ url_for('auth.sign_up') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="container right-form rounded bg-white">
                        <div class="row mt-2">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select class="form-select" id="gender" name="gender" required disabled>
                                    <option value="" disabled selected>Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required disabled>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4 mb-3">
                                <input type="text" class="form-control" id="city" name="city" placeholder="City" required disabled>
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="text" class="form-control" id="province" name="province" placeholder="Province" required disabled>
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="text" class="form-control" id="postalCode" name="postalcode" placeholder="Postal Code" required disabled>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-4 mb-3">
                                <input type="text" class="form-control" id="course" name="course" placeholder="Course" required disabled>
                            </div>
                            <div class="col-md-4 mb-3">
                                <select class="form-select" id="extracurricularActivities" name="extracurricularActivities">
                                    <option value="" disabled selected>Extracurricular Activity</option>
                                    <option value="Option 1">Option 1</option>
                                    <option value="Option 2">Option 2</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <select class="form-select" id="educationlevel" name="educationlevel" required disabled>
                                    <option value="" disabled selected>Education Level</option>
                                    <option value="Elementary">Elementary</option>
                                    <option value="Highschool">Highschool</option>
                                    <option value="College">College</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="number" class="form-control" id="gpa" name="gpa" placeholder="GPA / GWA" required disabled>
                            </div>
                            <div class="col-md-4 mb-3">
                                <select class="form-select" id="financialStatus" name="financialStatus">
                                    <option value="" disabled selected>Financial Status</option>
                                    <option value="Option 1">Option 1</option>
                                    <option value="Option 2">Option 2</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <input type="email" class="form-control" id="SignUpEmail" name="SignUpEmail" placeholder="Email Address" required disabled>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required disabled>
                            </div>
                        </div>
                        <button class="col-md-4 btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

