{% extends "base.html" %}
{% block title %}Sponsor{% endblock %}
{% block content %}
<h3>Compatible Sponsorships</h3>

<div class="container">
    <div class="row">
        {% if sponsors %}
            {% for item in sponsors %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.sponsor.sponsor_name }}</h5>
                        <p class="card-text">Passing Requirement: <b>{{ item.sponsor.passing_requirement }}</b></p>
                        <p class="card-text">Student Score: <b>{{ item.score }}</b></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p>No compatible sponsorships found.</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
